.list__text_st {
  font-size: 28px;
  color: cadetblue;
  text-decoration: line-through;
  line-height: 24px;
}

.list__text {
  font-size: 28px;
  color: cadetblue;
  line-height: 24px;
}

@media (max-width:535px) {
  .list__text, 
  .list__text_st {
    width: 250px;
  }
}

@media (max-width:420px) {
  .list__text, 
  .list__text_st {
    width: 180px;
  }
}
